* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f7fa;
}

header {
  background: #c0392b;
  padding: 15px;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background: url('https://images.unsplash.com/photo-1584515933487-779824d29309') center/cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #e74c3c;
  color: white;
}

.rare {
  background-color: #fff3cd;
  font-weight: bold;
  color: #c0392b;
}

input, select, button, textarea {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}

button {
  background: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #c0392b;
}

footer {
  text-align: center;
  padding: 15px;
  background: #2c3e50;
  color: white;
  margin-top: 20px;
}

form {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

input, select, textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

button {
  padding: 6px 10px;
}

td button {
  background: #c0392b;
}

td button:hover {
  background: #922b21;

}
#formMessage {
  font-weight: bold;
}
/* Responsive */
@media(max-width:768px){
  nav {
    flex-direction: column;
    align-items: center;
  }
}